---
layout: default
---

{% for chapter in site.data.chapters %}
  <div class="post-header">
    <a href="#">
      <h3 class="collection-title-listing">
        {{forloop.index0}} - {{chapter.name}}
      </h3>
    </a>

    {% assign posts = site.posts | where:"category",chapter.slug %}

    {% for post in posts reversed %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h4 class="post-header-title-listing">
          {% if post.showdate != false %}
            {% if post.date %}
              {{ post.date | date: "%d/%m" }} —
            {% endif %}
          {% endif %}

          {{ post.title }}
        </h4>
      </a>
    {% endfor %}
  </div>
<!--
  {% assign posts = site.posts | where:"chapter",chapter.slug %}

  {% for post in posts %}
    <a href="{{ site.baseurl }}{{ post.url }}"><h3 class="post-header-title-listing">{{ post.title }}</h3></a>
  {% endfor %} -->
{% endfor %}

<!-- This loops through the paginated posts -->
<!-- {% for post in paginator.posts reversed %}
    <div class="post-header">
      <a href="{{ site.baseurl }}{{ post.url }}"><h3 class="post-header-title-listing">{{forloop.index}} - {{ post.title }}</h3></a>
      {% if post.from or post.to %}
        <h4 class="post-header-date">
          {% if post.from %}
            <span class="ordinal">{{ post.from | date: "%e" }}</span> {{ post.from | date: "%B" }}
          {% endif %}

          {% if post.from and post.to %}
            —
          {% endif %}

          {% if post.to %}
            <span class="ordinal">{{ post.to | date: "%e" }}</span> {{ post.to | date: "%B" }}
          {% endif %}
        </h4>
      {% endif %}
    </div>
{% endfor %} -->

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.page == 1 %}disabled="disabled"{% endif %} href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">&larr; First page</a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.previous_page == nil %}disabled="disabled"{% endif %} href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Prev</a>
  </li>

  <!-- Numbers -->
  {% for page in (1..paginator.total_pages) %}
    <li class="pagination-item">
      {% if page == paginator.page %}
        <a class="pagination-link pagination-link--selected" href="#">{{ page }}</a>
      {% elsif page == 1 %}
        <a class="pagination-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="pagination-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    </li>
  {% endfor %}
  <!-- End of numbers -->

  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.next_page == nil %}disabled="disabled"{% endif %} href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
  </li>
  <li class="pagination-item">
    <a class="pagination-link pagination-link--non-numeric" {% if paginator.page == paginator.total_pages %}disabled="disabled"{% endif %} href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">Last page &rarr;</a>
  </li>
</ul>
{% endif %}
