<p style="text-align: center">
  <iframe name="plotaroute_map_{{include.id}}" src="https://www.plotaroute.com/embedmap/{{include.id}}" frameborder="0" scrolling="no" width="525" height="350" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  <p style="margin-top:8px;">
    <a href="https://www.plotaroute.com/route/{{include.id}}" target="_blank" title="View this route map on plotaroute.com" style="font-family:Helvetica Neue,Helvetica,arial;font-size:11px;">
      View route map on plotaroute.com
    </a>
  </p>
</p>
