<section class="post">
    <div class="post-header post-header-center">
      <a href="{{ site.baseurl }}{{ include.post.url }}"><h3 class="post-header-title">{{ include.post.title }}</h3></a>
    </div>

    <div class="post-body">
        {{ include.content }}
    </div>
    <div class="post-footer">
        <ul class="post-footer-tags">
            {% for tag in include.post.tags %}
              <li class="post-footer-tag">#{{ tag }}</li>
            {% endfor %}
        </ul>

        {% if include.post.plotaroute %}
          <a href="https://www.plotaroute.com/route/{{include.post.plotaroute}}" target="_blank" class="post-footer-location">
            {% if include.post.start %}
              {{ include.post.start }}
            {% endif %}

            {% if include.post.start and include.post.finish %}
              ->
            {% endif %}

            {% if include.post.finish %}
              {{ include.post.finish }}
            {% endif %}
          </a>
        {% endif %}

        {% if page.day and page.previous.url and page.previous.day %}
          <p class="post-previous">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
              Previously: {{page.previous.title}} (Day {{page.previous.day}})
            </a>
          </p>
        {% endif %}

        {% if page.day and page.next.url and page.next.day %}
          <p class="post-next">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
              Next: {{page.next.title}} (Day {{page.next.day}})
            </a>
          </p>
        {% endif %}
    </div>
</section>
