<div class="post-image post-image--split">
  <a href="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.leftpath}}.jpg">
    <img src="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.leftpath}}-thumb.jpg">
  </a>

  <a href="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.rightpath}}.jpg">
    <img src="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.rightpath}}-thumb.jpg">
  </a>

  <p class="post-image-caption">
    <span class="post-image-caption-left">
      {{include.leftcaption}}
    </span>

    <span class="post-image-caption-right">
      {{include.rightcaption}}
    </span>
  </p>
</div>
