<div class="post-image post-image--split">
  <a href="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.leftpath}}.jpg">
    <img src="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.leftpath}}-thumb.jpg">
  </a>

  <a href="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.rightpath}}.jpg">
    <img src="https://s3.eu-central-1.amazonaws.com/camino2016/pictures/{{include.rightpath}}-thumb.jpg">
  </a>

  {% if include.leftcaption or include.rightcaption %}
    <p class="post-image-caption">
      {% if include.leftcaption or include.rightcaption %}
        <span class="post-image-caption-left">
          {{include.leftcaption}}
        </span>
      {% endif %}

      {% if include.rightcaption %}
        <span class="post-image-caption-right">
          {{include.rightcaption}}
        </span>
      {% endif %}
    </p>
  {% endif %}
</div>
